<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ site.name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 

<!-- Lightbox -->
<link href="resources/lightbox/css/lightbox.min.css" rel="stylesheet">
<script src="resources/lightbox/js/lightbox-plus-jquery.min.js"></script>

<link rel="stylesheet" href="resources/css/style.css">
